<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>DSC UNILAG Signup</title>
    </head>

    <body>
    
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand"	href="/">DSC UNILAG</a>
                <button	type="button"	class="navbar-toggle	collapsed"	data-toggle="collapse" data-target="#nav-menu"	aria-expanded="false">
                    <span class="sr-only">Toggle	navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="nav-menu" class="collapse navbar-collapse	navbar-right">
                <ul	class="nav	navbar-nav">
                    <li><a href=" ">Sign Up</a></li>
                    <li><a href=" ">Login</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="row container-fluid move">
            <div class="col-md-offset-1 col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><em><b>WELCOME TO DSC UNILAG</b> </em></h1>
                        </div>
                    </div>
                    <div class="row" id="input-side">
                        <div class="col-md-12">
                            <img class="img-responsive" src="/assets/img/CDA8AhOo_400x400.jpg"/>
                        </div>
                    </div>
            </div>

            <div class="col-md-offset-1 col-md-5" id="First-Heading">
               
                    <div class="row">
                        <div class="col-md-12">
                            <h1><em>New User Sign Up </em></h1>
                        </div>
                    </div>
 
                <section id="input-side"> 
                    <div class="row">
                            <div class="col-md-12">
                                    <form id="form-id" class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="Name" class="form-control" placeholder="Username" required/>
                                                <br/>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input id="Email" type="email" class="form-control" placeholder="Email" required>{.Email}
                                                <br/>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                    Faculty
                                                <select name="Faculty">
                                                    
                                                    <option value="Architecture">Architecture</option>
                                                    <option value="Arts">Arts</option>
                                                    <option value="Buisness Administration">Buisness Administration</option>
                                                    <option value="Education">Education</option>
                                                    <option value="Environmental Science">Environmental Science</option>
                                                    <option value="Sciences">Sciences</option>
                                                    <option value="Social Science">Social Science</option>     
                                                </select>
                                                <br/>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                                <div class="col-md-10">
                                                    <input id="Age" type="text" class="form-control" name="Age" placeholder="Age" required>
                                                    <br/>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                                <div class="col-md-10">
                                                    <input id="Password" type="password" class="form-control" name="Password" placeholder="Password" required>
                                                    <br/>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                                <div class="col-md-10">
                                                    <input id="Confirmpassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" required>
                                                    <span id="verifynote" class="warn hidden"> Password Don't Match </span>
                                                    <br/>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <button type="submit" id="Register" class="btn btn-lg btn-primary">Sign Up</button>
                                            </div>
                                        </div>
                                    </form>                
                            </div>
                        </div>
                </section>
            </div>
        </div>

        
    

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/site.js"></script>
        <script src="assets/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#Confirmpassword').keyup(function(){
                    if( $(this).val() == $('#Password').val()) {
                        $('#verifynote').addClass('hidden');
                    } else{
                        $('#verifynote').removeClass('hidden');
                    }
                });
            });
            </script>
    </body>   
</html>